#con{
    height: 96%;
    width: 98%;
    min-height: 900px;
    margin: auto;
    background-color: chartreuse;
}

#listaAkcji{
    width: 300px;
    min-height: 900px;
    background-color:rgb(59, 133, 59);
    float: left;
}


#embedded-site{
    border: 0px;
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: green;
    right: 1%;
    top: 500px;
}